*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.divG{
    height: 630px;
}
:root{
    --roxo: rgba(222, 0, 253, 0.6);
    --fundo: linear-gradient(237.94deg, #0D0D0D 20.01%, #4212FF 100%);
    --botao: linear-gradient(180deg, #BD00FF 0%, #1AF0FE 100%);
}
body{
    text-align: center;
    background: var(--fundo);
    padding: 60px;
}
header{
    margin: auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
hr{
    border: none;
    margin-top: 20PX;
    height: 3px;
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(222,0,253,1) 61%, rgba(222,0,253,0) 100%);
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.fim > h2{
    color: white;
    margin-right: 15px;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    text-decoration:none;
    transition: 500ms;
}
.fim > h2:hover{

    transition: 500ms;
    text-shadow: 2px 2px 2px var(--roxo);
    background: var(--botao);
    height: 40px;
    padding: 10px;
    border-radius: 10px;
}
.fim{
    margin: 0 auto;
    display: flex;
}

.sair > button{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    background: var(--roxo);
    padding: 7px 15px;
    border-radius: 10px;
    transition: 500ms;
}
.sair > a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    background: var(--roxo);
    padding: 7px 15px;
    border-radius: 10px;
    transition: 500ms;
}
.sair > .cat:hover{
    background: var(--botao);
    transition: 500ms;
    font-size: 20px;
}
.acessorios{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#img {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: white;
}
.img {
    margin-right: 20px;
    height: 100px;
    width: 200px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px white;
    transition: 1s;
}
.img:hover{
    width: 220px;
    transition: 1s;
}
.Rodape {
    margin-bottom: 20px;
    bottom: 1px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0px -3px 10px rgb(255, 255, 255);
    justify-content: center;
    margin-top: 10px;
}

.social > ul > li {
    list-style: none;
}
.social > ul > li > a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

.DivPrin{
    background-color: rgba(0, 0, 0, 0.67);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.Midia{
    width: 50%;
    align-items: center;
    height: min-content 70%;
    background: var(--fundo);
    border-radius: 20px;
    box-shadow: 3px -3px 5px white;
    display: flex;
    flex-direction: column;
    position: fixed;
}
.Midia > h2 {
    margin: 20px 0px;
    font-size: 25px;
    font-family:'Courier New', Courier, monospace;
    color: white;
}
#NomeFilme{
    padding: 10px;
    width: 50%;
    background-color: white;
    margin-top: 40px;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    transition: 500px;
    box-shadow: 2px -2px 10px white;
    border: none;
}
#NomeFilme:focus{
    color: white;
    background-color: black;
    transition: 500ms;
}
#LinkFilme{
    padding: 10px;
    background-color: white;
    margin-top: 40px;
    width: 50%;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    transition: 500px;
    box-shadow: 2px -2px 10px white;
    border: none;
}
#LinkFilme:focus{
    color: white;
    background-color: black;
    transition: 500ms;
}
.nomelink{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.botaoE{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    background: var(--roxo);
    padding: 7px 15px;
    border-radius: 10px;
    transition: 500ms;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.x{
    width: 100%;
    display: flex;
    align-items: flex-start;
    color: white;
    background-color: rgba(255, 255, 255, 0);
}
.nomelink > button{
    margin: 20px;
}